n8n/AI Recruiter n8n.json
{
  "name": "AI Recruiter n8n",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "adc850e9-7835-42d9-be0c-148927f8f7e3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -752,
        16
      ],
      "notes": "Runs Monday-Friday at 9 AM"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MEsaFtvtZxma3qCJYP91vJteJvTJIkya1Cdl7SX1djM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MEsaFtvtZxma3qCJYP91vJteJvTJIkya1Cdl7SX1djM/edit#gid=0"
        },
        "options": {}
      },
      "id": "62aaea05-768d-416a-a1be-e0ab2b4be6ba",
      "name": "Read Candidates from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -528,
        16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xGMu6q0H98hFj3C8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "filter-uncalled",
              "leftValue": "={{ $json.CallStatus }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            },
            {
              "id": "2aeece5b-492a-4dcd-b2b0-d68f5672b6ec",
              "leftValue": "=={{ $json.status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "937ea717-383f-4d5d-8c0c-e51234f9c797",
      "name": "Filter Uncalled Candidates",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -304,
        16
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7a6df3aa-4350-4fca-bdfc-74cead5dbabe",
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -80,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_e453c45781d4c69c82a75e930692"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_id",
              "value": "agent_66b7560a5438a29e1741123bb3"
            },
            {
              "name": "from_number",
              "value": "YOUR_RETELL_PHONE_NUMBER"
            },
            {
              "name": "to_number",
              "value": "={{ $json.PhoneNumber }}"
            },
            {
              "name": "metadata",
              "value": "={\"candidate_name\": \"{{ $json.Name }}\", \"position\": \"{{ $json.PositionApplied }}\", \"email\": \"{{ $json.Email }}\"}"
            },
            {
              "name": "retell_llm_dynamic_variables",
              "value": "={\"candidate_name\": \"{{ $json.Name }}\", \"position_title\": \"{{ $json.PositionApplied }}\", \"company_name\": \"Your Company Name\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "f8bc960d-8711-46ed-9d8f-99ca0365db32",
      "name": "Make Outbound Call via Retell AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        -64
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "eXg4P2Ki2mSZPCcB",
          "name": "retell AI Aditya"
        }
      }
    },
    {
      "parameters": {},
      "id": "fb4ac686-d7d0-4845-9f90-e3a22d6aa3f5",
      "name": "Wait for Call to Start",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        368,
        -64
      ],
      "webhookId": "wait-call-webhook"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Candidates",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CallStatus": "Called",
            "CallDate": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "5fa9f20e-3fa8-41cf-9d3b-5174719f39f9",
      "name": "Update Call Status in Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        592,
        16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xGMu6q0H98hFj3C8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "retell-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2b15e676-cbfe-428c-ba27-f01847868954",
      "name": "Retell AI Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -752,
        336
      ],
      "webhookId": "retell-ai-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Retell webhook\nconst data = $input.item.json;\n\n// Extract metadata\nconst meta = data.call?.metadata || {};\n\n// Extract transcript\nconst transcript = data.transcript || \"\";\n\n// Extract recording\nconst recording = data.recording_url || \"\";\n\n// Helper pattern extractor\nfunction extract(pattern) {\n  const match = transcript.match(pattern);\n  return match ? match[1].trim() : \"\";\n}\n\n// Extract values from Retell AI post-call analysis\nconst overallScore = extract(/OVERALL SCORE:\\s*(\\d+)/i);\nconst recommendation = extract(/RECOMMENDATION:\\s*([^\\n]+)/i);\n\nconst techScore = extract(/Technical Skills:\\s*(\\d+)\\/10/i);\nconst commScore = extract(/Communication Skills:\\s*(\\d+)\\/10/i);\n\nconst keyStrengths = extract(/KEY STRENGTHS:\\s*([\\s\\S]*?)AREAS OF CONCERN:/i);\nconst concerns = extract(/AREAS OF CONCERN:\\s*([\\s\\S]*?)SPECIFIC QUALIFICATIONS:/i);\n\nconst notes = extract(/INTERVIEWER NOTES:\\s*([\\s\\S]*)$/i);\n\n// Return JSON for sheet append\nreturn [\n  {\n    json: {\n      id: meta.id || \"\",\n      name: meta.candidate_name || \"\",\n      phone: meta.phone || \"\",\n      email: meta.email || \"\",\n      status: \"completed\",\n      last_call_time: new Date().toISOString(),\n      transcript,\n      screen_result: recommendation || \"\",\n      score_technical: techScore || \"\",\n      score_communication: commScore || \"\",\n      notes: notes || \"\",\n      recording_url: recording || \"\"\n    }\n  }\n];\n"
      },
      "id": "346311d3-1d6f-489e-804d-6023959f8948",
      "name": "Parse Call Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        336
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Interview Results",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "9b5db919-b983-415e-a485-d32079f8fe69",
      "name": "Save Interview Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -304,
        336
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xGMu6q0H98hFj3C8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"message\": \"Interview results saved successfully\" }",
        "options": {}
      },
      "id": "4ac26772-00ac-408f-b534-4a15045ca8c4",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        368,
        336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-score",
              "leftValue": "={{ $json.overallScore }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0989b012-6324-49af-ad19-be625ea8d4d5",
      "name": "Check if Score >= 7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -80,
        336
      ]
    },
    {
      "parameters": {
        "fromEmail": "recruiter@yourcompany.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Next Steps - Your Interview with [Company Name]",
        "options": {}
      },
      "id": "2b77a68b-fe5e-4baf-9740-5530a0182866",
      "name": "Send Proceed Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        144,
        240
      ],
      "webhookId": "0b7b0c7a-2c80-4c1e-874e-91c75ec10437"
    },
    {
      "parameters": {
        "fromEmail": "recruiter@yourcompany.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Thank You for Your Time",
        "options": {}
      },
      "id": "1427150b-9c39-45f3-b2cc-f4102c7217cf",
      "name": "Send Rejection Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        144,
        432
      ],
      "webhookId": "563b8b0f-31d0-4be9-8399-c36102474a43"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Candidates from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Candidates from Sheet": {
      "main": [
        [
          {
            "node": "Filter Uncalled Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Uncalled Candidates": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Batches": {
      "main": [
        [
          {
            "node": "Make Outbound Call via Retell AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Outbound Call via Retell AI": {
      "main": [
        [
          {
            "node": "Wait for Call to Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Call to Start": {
      "main": [
        [
          {
            "node": "Update Call Status in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Status in Sheet": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retell AI Webhook": {
      "main": [
        [
          {
            "node": "Parse Call Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Call Analysis": {
      "main": [
        [
          {
            "node": "Save Interview Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Interview Results": {
      "main": [
        [
          {
            "node": "Check if Score >= 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Score >= 7": {
      "main": [
        [
          {
            "node": "Send Proceed Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Proceed Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Rejection Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b4f52b5e-1d37-4281-8869-c7b25e654d68",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "441f8640c2efafe2687560e55c9bcc723be02106b444749ee7c7b5577c765276"
  },
  "id": "MJu61KkMSHjPX027",
  "tags": []
}